@model ProyectoSMP.Models.ConsultarUnUsuarios_Result

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h7>Identificación</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            <h7>Tipo de Identificación</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Identificacion)
        </dd>

        <dt>
            <h7>Nombre</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            <h7>Correo</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            <h7>Cargo</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCarga)
        </dd>

        <dt>
            <h7>Provincia</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            <h7>Caontón</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canton)
        </dd>

        <dt>
            <h7>Distrito</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        <dt>
            <h7>Rol</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt>
            <h7>Estado</h7>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Regresar", "Index")
</p>
