@model IEnumerable<ProyectoSMP.Models.PlanMantenimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMantenimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeCreacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPlan }) |
            @Html.ActionLink("Detalles", "Details", new {  id=item.IdPlan }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.IdPlan })
        </td>
    </tr>
}

</table>
