@model ProyectoSMP.Models.TipoDeSistemaDeMaquina

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tipo de Sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h7>Nombre</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            <h7>Descripción</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            <h7>Estado</h7>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoSistema }) |
    @Html.ActionLink("Regresar", "Index")
</p>
