@model ProyectoSMP.Models.MantenimientoDeMaquina

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Eliminar Mantenimiento</h2>

<h3>Esta seguro de eliminar los datos?</h3>
<div>
    <h4>Mantenimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDeMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDeMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventarioDeRepuestos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventarioDeRepuestos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maquina.NombreMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.NombreMaquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol1.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" /> |
                    @Html.ActionLink("Regresar", "Index")
                </div>}
</div>
