@model ProyectoSMP.Models.ParoDeMaquina

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Paro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mantenimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mantenimiento.NombreOperacion)
        </dd>

        <dt>
            Máquina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.NombreMaquina)
        </dd>
        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha Inició
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaComienza)
        </dd>

        <dt>
            Fecha Finalizó
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdParo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
