@model SMP.Models.ParoDeMaquina

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParoDeMaquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreParo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreParo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaComienza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaComienza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MantenimientoDeMaquina.NumeroDeOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MantenimientoDeMaquina.NumeroDeOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maquina.NombreMaquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.NombreMaquina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdParo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
