@model ProyectoSMP.Models.CumplimientoMantenimiento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cumplimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @if (Model.Estado == true)
            {
        @Html.Label("Activo") }
    else
    {
        @Html.Label("Inactivo")}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
